# Python
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Node
node_modules/
dist/
build/

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
Backend/artifacts/*.pkl
Backend/artifacts/*.pth